Repository omgnetwork/optimism, pull requests merged in 2021-08, with the labels that each got.

#254 further simplification of GH actions
  .github/workflows/ext-test-snx.yml
  .github/workflows/integration.yml
  .github/workflows/omgx-integration.yml
  .github/workflows/omgx-publish-develop.yml
  .github/workflows/omgx-publish-master.yml
  .gitignore
  ops/docker-compose-base.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.monorepo
  ops/docker/Dockerfile.monorepo-base
  ops/docker/Dockerfile.omgx_deployer
  ops/scripts/build-ci-omgx.sh
  ops/scripts/build-ci.sh
  packages/contracts/scripts/build.sh
  packages/omgx/contracts/.gitignore
  packages/omgx/contracts/Find Results
  packages/omgx/contracts/package.json
  packages/omgx/contracts/scripts/build.sh
  packages/omgx/gas-price-oracle/.gitignore
  packages/omgx/gas-price-oracle/package.json
  packages/omgx/gas-price-oracle/service.ts
  packages/omgx/immutability/.gitignore
  packages/omgx/message-relayer-fast/.gitignore
  packages/omgx/message-relayer-fast/Dockerfile.message-relayer-fast
  packages/omgx/message-relayer-fast/README.md
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/wait-for-l1-and-l2.sh
Labels: 2-reviewers, A-ci, A-contracts, M-contracts, M-ops

#257 feat: return funds for unfulfillable swap-ons
  packages/omgx/contracts/contracts/LP/L1LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/L2LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/interfaces/iL1LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/interfaces/iL2LiquidityPool.sol
  packages/omgx/message-relayer-fast/contracts/L1LiquidityPool.json
  packages/omgx/message-relayer-fast/contracts/L2LiquidityPool.json
  packages/omgx/message-relayer-fast/test/b_lp.spec.ts
  packages/omgx/message-relayer-fast/test/shared/env.ts
  packages/omgx/message-relayer-fast/test/shared/watcher.ts
Labels: A-ts-packages

#261 clean up PK usage on `develop`
  .github/workflows/omgx-integration.yml
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth-ovm-calls.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/stress-test-helpers.ts
  integration-tests/test/shared/utils.ts
  integration-tests/test/stress-tests.spec.ts
  ops/docker-compose.yml
  ops/envs/geth.env
Labels: 2-reviewers, A-ci, A-integration-tests, M-ops

#262 Fix l2geth unit test failures
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, A-geth

#266 Ethereum optimism develop
  .changeset/popular-carpets-applaud.md
  .changeset/silent-dolphins-hammer.md
  .changeset/thick-peaches-learn.md
  .github/CODEOWNERS
  README.md
  ops/docker/Dockerfile.monorepo
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/batch-submitter/src/index.ts
  packages/batch-submitter/src/transaction-chain-contract.ts
  packages/batch-submitter/src/utils/index.ts
  packages/batch-submitter/src/utils/tx-submission.ts
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
  packages/batch-submitter/test/utils/tx-submission.spec.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/whitelist.ts
  packages/replica-healthcheck/.env.example
  packages/replica-healthcheck/.eslintrc.js
  packages/replica-healthcheck/.gitignore
  packages/replica-healthcheck/.lintstagedrc.yml
  packages/replica-healthcheck/.prettierrc.js
  packages/replica-healthcheck/LICENSE
  packages/replica-healthcheck/README.md
  packages/replica-healthcheck/package.json
  packages/replica-healthcheck/src/exec/run-healthcheck-server.ts
  packages/replica-healthcheck/src/healthcheck-server.ts
  packages/replica-healthcheck/src/helpers.ts
  packages/replica-healthcheck/src/index.ts
  packages/replica-healthcheck/test/healthcheck-server.spec.ts
  packages/replica-healthcheck/tsconfig.build.json
  packages/replica-healthcheck/tsconfig.json
Labels: 2-reviewers, A-ci, A-contracts, M-contracts, M-batch-submitter, M-ops

#267 CROSS Chain Domain Details
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.module.scss
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
Labels: A-ts-packages

#273 Fix LP withdrawReward()
  packages/omgx/contracts/contracts/LP/L1LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/L2LiquidityPool.sol
Labels: A-ts-packages

#272 LP balance and transaction details link changes
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.module.scss
  packages/omgx/wallet-frontend/src/containers/farm/Farm.module.scss
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/reducers/nftReducer.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#275 Integration contracts added to deployment/integration/addresses.json
  packages/omgx/contracts/deployment/integration/addresses.json
Labels: A-ts-packages

#276 Add LP proxy
  ops_omgx/monitor/transaction-monitor/services/database.service.js
  packages/message-relayer/src/service.ts
  packages/omgx/contracts/contracts/LP/L1LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/L2LiquidityPool.sol
  packages/omgx/contracts/contracts/libraries/Lib_ResolvedDelegateProxy.sol
  packages/omgx/contracts/deploy/002-LiquidityPools.deploy.ts
  packages/omgx/contracts/deploy/003-Proxy_LiquidityPools.deploy.ts
  packages/omgx/contracts/deploy/004-ERC20.deploy.ts
  packages/omgx/contracts/deploy/005-TokenPool.deploy.ts
  packages/omgx/contracts/deploy/006-TestComms.deploy.ts
  packages/omgx/contracts/deploy/007-AtomicSwap.deploy.ts
  packages/omgx/contracts/deploy/008-NFT.deploy.ts
  packages/omgx/contracts/deploy/009-Dump.deploy.ts
  packages/omgx/message-relayer-fast/src/service.ts
  packages/omgx/message-relayer-fast/test/b_lp.spec.ts
  packages/omgx/wallet-frontend/src/deployment/rinkeby/addresses.json
  packages/omgx/wallet-frontend/src/reducers/transactionReducer.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: 2-reviewers, A-ts-packages

#277 Update replica env and image tags
  ops/docker-compose-replica-service.yml
  ops/envs/geth_rv.env
Labels: 2-reviewers, M-ops

#280 Proposal list
  packages/omgx/wallet-frontend/package-lock.json
  packages/omgx/wallet-frontend/package.json
  packages/omgx/wallet-frontend/public/index.html
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/dao/Delegate.js
  packages/omgx/wallet-frontend/src/containers/dao/ProposalCard.css
  packages/omgx/wallet-frontend/src/containers/dao/ProposalCard.js
  packages/omgx/wallet-frontend/src/containers/dao/ProposalList.js
  packages/omgx/wallet-frontend/src/services/ethereum.js
Labels: A-ts-packages

#278 Update LP address
  ops_omgx/monitor/transaction-monitor/.env.example
  ops_omgx/monitor/transaction-monitor/services/monitor.service.js
  ops_omgx/monitor/transaction-monitor/services/utilities/optimismEnv.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/deployment/rinkeby/addresses.json
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#279 Remove eventCache
  packages/omgx/message-relayer-fast/src/service.ts
Labels: A-ts-packages

#281 Add mainnet
  packages/contracts/deployments/README.md
  packages/contracts/deployments/mainnet-production/.chainId
  packages/contracts/deployments/mainnet-production/Lib_AddressManager.json
  packages/contracts/deployments/mainnet-production/OVM_CanonicalTransactionChain.json
  packages/contracts/deployments/mainnet-production/OVM_ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/mainnet-production/OVM_ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/mainnet-production/OVM_ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/mainnet-production/OVM_ExecutionManager.json
  packages/contracts/deployments/mainnet-production/OVM_FraudVerifier.json
  packages/contracts/deployments/mainnet-production/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet-production/OVM_L1MultiMessageRelayer.json
  packages/contracts/deployments/mainnet-production/OVM_SafetyChecker.json
  packages/contracts/deployments/mainnet-production/OVM_StateCommitmentChain.json
  packages/contracts/deployments/mainnet-production/OVM_StateManagerFactory.json
  packages/contracts/deployments/mainnet-production/OVM_StateTransitionerFactory.json
  packages/contracts/deployments/mainnet-production/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet-production/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/mainnet-production/mockOVM_BondManager.json
  packages/contracts/deployments/mainnet-production/solcInputs/1bef9702d702d51d122c68caa8d7c949.json
  packages/contracts/deployments/mainnet-production/solcInputs/5da50938d6cae881cc2f74b183125883.json
  packages/omgx/contracts/deploy/000-Messenger.deploy.ts
  packages/omgx/contracts/deploy/001-Proxy_Messenger.deploy.ts
  packages/omgx/contracts/hardhat.config.ts
Labels: 2-reviewers, A-contracts, M-contracts

#282 add support for minting "simple" NFTs
  packages/omgx/wallet-frontend/src/actions/nftAction.js
  packages/omgx/wallet-frontend/src/components/listNFT/listNFT.js
  packages/omgx/wallet-frontend/src/components/listNFTfactory/listNFTfactory.js
  packages/omgx/wallet-frontend/src/components/listNFTfactory/listNFTfactory.module.scss
  packages/omgx/wallet-frontend/src/containers/nft/Nft.js
  packages/omgx/wallet-frontend/src/containers/nft/Nft.module.scss
  packages/omgx/wallet-frontend/src/images/koi.png
  packages/omgx/wallet-frontend/src/services/networkService.js
  yarn.lock
Labels: A-ts-packages

#286 fix: erc721Genesis
  packages/omgx/contracts/contracts/ERC721Genesis.sol
Labels: A-ts-packages

#284 Add mainnet addresses and update chain ID
  packages/contracts/deployments/README.md
  packages/contracts/deployments/mainnet-production/OVM_ExecutionManager.json
  packages/omgx/contracts/deployment/mainnet/addressess.json
Labels: 2-reviewers, A-contracts, M-contracts

#288 L2geth startup fix
  l2geth/rollup/client.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, A-geth

#290 Add Mainnet watcher API and update chain ID
  ops_omgx/monitor/transaction-monitor/watcher-api/Mainnet/serverless.yml
  ops_omgx/monitor/transaction-monitor/watcher-api/Mainnet/watcher_getCrossDomainMessage.py
  ops_omgx/monitor/transaction-monitor/watcher-api/Mainnet/watcher_getDeployments.py
  ops_omgx/monitor/transaction-monitor/watcher-api/Mainnet/watcher_getTransactions.py
  ops_omgx/monitor/transaction-monitor/watcher-api/README.md
  ops_omgx/monitor/transaction-monitor/watcher-api/Rinkeby/serverless.yml
  ops_omgx/monitor/transaction-monitor/watcher-api/Rinkeby/watcher_getCrossDomainMessage.py
  ops_omgx/monitor/transaction-monitor/watcher-api/Rinkeby/watcher_getDeployments.py
  ops_omgx/monitor/transaction-monitor/watcher-api/Rinkeby/watcher_getTransactions.py
Labels: 2-reviewers, A-contracts, M-contracts

#293 Add Mainnet L2 tokens
  packages/omgx/wallet-frontend/src/deployment/mainnet/addresses.json
Labels: A-ts-packages

#297 Extra logging + bugfix
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl, M-batch-submitter

#296 Update gas price oracle
  .gitignore
  ops/docker-compose.yml
  packages/omgx/gas-price-oracle/.env.example
  packages/omgx/gas-price-oracle/package.json
  packages/omgx/gas-price-oracle/src/exec/run.ts
  packages/omgx/gas-price-oracle/src/service.ts
Labels: 2-reviewers, A-ts-packages, M-ops

#294 feat: add nft bridges
  ops/docker/Dockerfile.omgx_deployer
  packages/omgx/contracts/contracts/L1ERC721.sol
  packages/omgx/contracts/contracts/bridges/OVM_L1NFTBridge.sol
  packages/omgx/contracts/contracts/bridges/OVM_L2NFTBridge.sol
  packages/omgx/contracts/contracts/bridges/interfaces/iOVM_L1NFTBridge.sol
  packages/omgx/contracts/contracts/bridges/interfaces/iOVM_L2NFTBridge.sol
  packages/omgx/contracts/contracts/standards/IL2StandardERC721.sol
  packages/omgx/contracts/contracts/standards/L2StandardERC721.sol
  packages/omgx/contracts/deploy/004-ERC20.deploy.ts
  packages/omgx/contracts/deploy/008-NFT.deploy.ts
  packages/omgx/contracts/deploy/009-NFTBridges.deploy.ts
  packages/omgx/contracts/deploy/010-Proxy_NFTBridges.deploy.ts
  packages/omgx/contracts/deploy/011-L2ERC721.deploy.ts
  packages/omgx/contracts/deploy/012-Dump.deploy.ts
  packages/omgx/contracts/preSupportedNFTs.json
  packages/omgx/contracts/test/a_erc20.spec.ts
  packages/omgx/contracts/test/b_nft.spec.ts
  packages/omgx/contracts/test/c_nft_bridge.spec.ts
Labels: 2-reviewers, A-ts-packages, M-ops

#300 Avoid re-querying the same blocks, pushing excess data into eventCache.
  packages/message-relayer/src/service.ts
Labels: 2-reviewers, A-ts-packages

#298 Feature/reskin
  packages/omgx/wallet-frontend/public/index.html
  packages/omgx/wallet-frontend/src/components/Icons/LinkIcon.js
  packages/omgx/wallet-frontend/src/components/button/Button.module.scss
  packages/omgx/wallet-frontend/src/components/copy/Copy.module.scss
  packages/omgx/wallet-frontend/src/components/info/Info.module.scss
  packages/omgx/wallet-frontend/src/components/input/Input.module.scss
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.module.scss
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.module.scss
  packages/omgx/wallet-frontend/src/components/listNFT/listNFT.module.scss
  packages/omgx/wallet-frontend/src/components/pager/Pager.module.scss
  packages/omgx/wallet-frontend/src/components/tabs/Tabs.module.scss
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.module.scss
  packages/omgx/wallet-frontend/src/components/walletpicker/WalletPicker.js
  packages/omgx/wallet-frontend/src/components/walletpicker/WalletPicker.module.scss
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/account/Account.module.scss
  packages/omgx/wallet-frontend/src/containers/app/App.module.scss
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.module.scss
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/containers/home/Home.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/addtoken/AddTokenModal.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/ledger/LedgerConnect.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/ledger/LedgerPrompt.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/wrongnetwork/WrongNetworkModal.module.scss
  packages/omgx/wallet-frontend/src/containers/nft/Nft.module.scss
  packages/omgx/wallet-frontend/src/containers/status/Status.module.scss
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.module.scss
  packages/omgx/wallet-frontend/src/fonts/MrEavesXLModOT-Bold.ttf
  packages/omgx/wallet-frontend/src/fonts/MrEavesXLModOT-Reg.ttf
  packages/omgx/wallet-frontend/src/fonts/MrEavesXLModOT-Thin.ttf
  packages/omgx/wallet-frontend/src/images/logo-boba.svg
  packages/omgx/wallet-frontend/src/index.scss
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages

#304 fix for the tx view more details
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
Labels: A-ts-packages

#305 Update block explorer url
  packages/omgx/wallet-frontend/package.json
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages

#274 Use DTL to serve addresses etc.
  .github/workflows/integration.yml
  .github/workflows/omgx-publish-develop.yml
  .github/workflows/push2aws.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.data-transport-layer
  ops/scripts/deployer.sh
  ops/scripts/dtl.sh
  ops_omgx/cfn-devenv.sh
  ops_omgx/cloudformation/data-transport-layer.yaml
  ops_omgx/cloudformation/deployer-rinkeby.yaml
  ops_omgx/docker/data-transport-layer/dtl.sh
  ops_omgx/docker/deployer-rinkeby/deployer.sh
  ops_omgx/docker/nginx-eth-proxy/proxy_no_lua_data_transport_layer.conf
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/omgx/contracts/bin/serve_dump.sh
  packages/omgx/contracts/scripts/deployer.sh
Labels: 2-reviewers, A-ci, A-ts-packages, M-dtl, M-ops

#309 Fix BOBA link
  packages/omgx/wallet-frontend/src/components/walletpicker/WalletPicker.js
Labels: A-ts-packages

#310 Fix wallet integration
  packages/omgx/wallet-frontend/src/deployment/rinkeby-integration/addresses.json
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#308 Update LP Page and fix loading issues
  ops/docker-compose-replica-service.yml
  ops_omgx/api/service-api/blockexplorer_version.py
  ops_omgx/api/service-api/serverless.yml
  ops_omgx/api/service-api/webwallet_version.py
  ops_omgx/api/watcher-api/Mainnet/serverless.yml
  ops_omgx/api/watcher-api/Mainnet/watcher_getCrossDomainMessage.py
  ops_omgx/api/watcher-api/Mainnet/watcher_getDeployments.py
  ops_omgx/api/watcher-api/Mainnet/watcher_getTransactions.py
  ops_omgx/api/watcher-api/README.md
  ops_omgx/api/watcher-api/Rinkeby/serverless.yml
  ops_omgx/api/watcher-api/Rinkeby/watcher_getCrossDomainMessage.py
  ops_omgx/api/watcher-api/Rinkeby/watcher_getDeployments.py
  ops_omgx/api/watcher-api/Rinkeby/watcher_getTransactions.py
  ops_omgx/lambda/integration/env.yml.example
  ops_omgx/lambda/integration/serverless.yml
  ops_omgx/lambda/production/env.yml.example
  ops_omgx/lambda/production/serverless.yml
  packages/omgx/contracts/deployment/mainnet/addressess.json
  packages/omgx/contracts/preSupportedTokens.json
  packages/omgx/wallet-frontend/package.json
  packages/omgx/wallet-frontend/src/actions/networkAction.js
  packages/omgx/wallet-frontend/src/components/input/Input.module.scss
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.module.scss
  packages/omgx/wallet-frontend/src/components/walletpicker/WalletPicker.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/deployment/mainnet/addresses.json
  packages/omgx/wallet-frontend/src/images/bat.svg
  packages/omgx/wallet-frontend/src/images/dai.png
  packages/omgx/wallet-frontend/src/images/dodo.svg
  packages/omgx/wallet-frontend/src/images/link.svg
  packages/omgx/wallet-frontend/src/images/rep.svg
  packages/omgx/wallet-frontend/src/images/uni.png
  packages/omgx/wallet-frontend/src/images/usdc.png
  packages/omgx/wallet-frontend/src/images/usdt-icon.svg
  packages/omgx/wallet-frontend/src/images/wbtc.svg
  packages/omgx/wallet-frontend/src/images/zrx.svg
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/omgx/wallet-frontend/src/util/coinImage.js
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: 2-reviewers, A-ts-packages, M-ops

#307 Add wallet support for rinkeby-integration
  packages/omgx/wallet-frontend/src/deployment/rinkeby-integration/addresses.json
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages

#312 Update masterConfig.js
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages

#313 fix .github/workflows/push2aws.yml to pull latest and push github.sha
  .github/workflows/push2aws.yml
Labels: 2-reviewers, A-ci

#314 add omg to deploy list
  packages/omgx/contracts/preSupportedTokens.json
Labels: A-ts-packages

#311 Update gateway warning text and register OMG token
  ops_omgx/api/watcher-api/Mainnet/watcher_getTransactions.py
  ops_omgx/api/watcher-api/Rinkeby/watcher_getTransactions.py
  packages/omgx/wallet-frontend/.env.example
  packages/omgx/wallet-frontend/package.json
  packages/omgx/wallet-frontend/src/components/input/Input.module.scss
  packages/omgx/wallet-frontend/src/components/walletpicker/WalletPicker.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/deployment/mainnet/addresses.json
  packages/omgx/wallet-frontend/src/deployment/rinkeby/addresses.json
  packages/omgx/wallet-frontend/src/images/omg.png
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/omgx/wallet-frontend/src/util/coinImage.js
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages

#334 changes :
  packages/omgx/wallet-frontend/src/components/Icons/AlertIcon.js
  packages/omgx/wallet-frontend/src/components/Icons/LayerIcon.js
  packages/omgx/wallet-frontend/src/components/Icons/NetworkIcon.js
  packages/omgx/wallet-frontend/src/components/icons/NetworkSwitcherIcon.js
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/input/Input.styles.js
  packages/omgx/wallet-frontend/src/components/listAccount/ListAccount.styles.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.styles.js
  packages/omgx/wallet-frontend/src/components/mainMenu/networkSwitcher/NetworkSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/networkSwitcher/NetworkSwitcher.styles.js
  packages/omgx/wallet-frontend/src/components/modal/Modal.js
  packages/omgx/wallet-frontend/src/components/modal/Modal.styles.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.styles.js
  packages/omgx/wallet-frontend/src/containers/transactions/Deposits.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.module.scss
  packages/omgx/wallet-frontend/src/index.scss
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages
