Repository omgnetwork/optimism, pull requests merged in 2021-06, with the labels that each got.

#26 build and publish latest images
  .github/workflows/omgx-publish-develop.yml
Labels: 2-reviewers, A-ci

#44 Add the whitelist system
  .gitignore
  ops/docker-compose.yml
  packages/contracts/README.md
  packages/contracts/bin/deploy.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/deploy/007-OVM_L1CrossDomainMessenger.deploy.ts
  packages/contracts/deploy/008-Proxy__OVM_L1CrossDomainMessenger.deploy.ts
  packages/message-relayer/lambda/env.yml.example
  packages/message-relayer/lambda/serverless.yml
  packages/message-relayer/lambda/whitelist.py
  packages/message-relayer/package.json
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/omgx/wallet/deployment/local/addresses.json
  packages/omgx/wallet/test/a_setup.spec.ts
  packages/omgx/wallet/test/b_message.spec.ts
  packages/omgx/wallet/test/shared/watcher-utils.ts
  packages/omgx/wallet/wallet/src/deployment/local/addresses.json
Labels: 2-reviewers, A-contracts, M-contracts, M-ops

#45 Update addresses
  packages/message-relayer/lambda/whitelist.py
  packages/omgx/wallet/contracts/TokenPool.sol
  packages/omgx/wallet/deployment/rinkeby/addresses.json
  packages/omgx/wallet/test/a_setup.spec.ts
  packages/omgx/wallet/wallet/src/containers/account/Account.js
  packages/omgx/wallet/wallet/src/containers/home/Home.js
  packages/omgx/wallet/wallet/src/deployment/rinkeby/addresses.json
  packages/omgx/wallet/wallet/src/services/networkService.js
Labels: 2-reviewers, A-ts-packages

#56 Updated deploy_messager
  packages/omgx/message-relayer-fast/.env.example
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/scripts/deploy_messenger.js
  packages/omgx/message-relayer-fast/test/shared/watcher-utils.ts
Labels: A-ts-packages

#57 Add contracts-analyzer
  packages/omgx/contracts-analyzer/.env.example
  packages/omgx/contracts-analyzer/README.md
  packages/omgx/contracts-analyzer/deployments/addresses.json
  packages/omgx/contracts-analyzer/hardhat.config.ts
  packages/omgx/contracts-analyzer/package.json
  packages/omgx/contracts-analyzer/scripts/analyze.js
  packages/omgx/contracts-analyzer/scripts/build.sh
  packages/omgx/contracts-analyzer/scripts/deploy.js
  packages/omgx/contracts-analyzer/scripts/deployRinkeby.js
  packages/omgx/contracts-analyzer/scripts/utils.js
  packages/omgx/contracts-analyzer/test/MasterChef.test.js
  packages/omgx/contracts-analyzer/test/MasterChefV2.test.js
  packages/omgx/contracts-analyzer/test/Migrator.test.js
  packages/omgx/contracts-analyzer/test/MiniChefV2.test.js
  packages/omgx/contracts-analyzer/test/SushiBar.test.js
  packages/omgx/contracts-analyzer/test/SushiMaker.test.js
  packages/omgx/contracts-analyzer/test/SushiToken.test.js
  packages/omgx/contracts-analyzer/test/Timelock.test.js
  packages/omgx/contracts-analyzer/test/utilities/index.js
  packages/omgx/contracts-analyzer/test/utilities/time.js
  packages/omgx/contracts-analyzer/test/utilities/wallet.js
  packages/omgx/contracts-analyzer/tsconfig.json
  yarn.lock
Labels: A-ts-packages

#55 Updates contracts-analyzer and moves it to the right place - WIP - Do not merge
  packages/omgx/contracts-analyzer/.env.example
  packages/omgx/contracts-analyzer/PORTING.md
  packages/omgx/contracts-analyzer/README.md
  packages/omgx/contracts-analyzer/contracts_trivial/ERC20.sol
  packages/omgx/contracts-analyzer/contracts_trivial/LiquidityPool.sol
  packages/omgx/contracts-analyzer/contracts_trivial/Proxy.sol
  packages/omgx/contracts-analyzer/contracts_trivial/interfaces/IERC20.sol
  packages/omgx/contracts-analyzer/deployments/addresses.json
  packages/omgx/contracts-analyzer/hardhat.config.ts
  packages/omgx/contracts-analyzer/package.json
  packages/omgx/contracts-analyzer/scripts/analyze.js
  packages/omgx/contracts-analyzer/scripts/deploy.js
  packages/omgx/contracts-analyzer/scripts/utils.js
  packages/omgx/contracts-analyzer/test/MasterChef.test.js
  packages/omgx/contracts-analyzer/test/MasterChefV2.test.js
  packages/omgx/contracts-analyzer/test/Migrator.test.js
  packages/omgx/contracts-analyzer/test/MiniChefV2.test.js
  packages/omgx/contracts-analyzer/test/SushiBar.test.js
  packages/omgx/contracts-analyzer/test/SushiMaker.test.js
  packages/omgx/contracts-analyzer/test/SushiRoll.test.js
  packages/omgx/contracts-analyzer/test/SushiToken.test.js
  packages/omgx/contracts-analyzer/test/Timelock.test.js
  packages/omgx/contracts-analyzer/test/utilities/index.js
  packages/omgx/contracts-analyzer/test/utilities/time.js
  packages/omgx/contracts-analyzer/test/utilities/wallet.js
  packages/omgx/contracts-analyzer/tsconfig.json
  yarn.lock
Labels: A-ts-packages

#54 custom messenger + relayer
  packages/omgx/message-relayer-fast/.env.example
  packages/omgx/message-relayer-fast/README.md
  packages/omgx/message-relayer-fast/contracts/OVM_L1CrossDomainMessengerFast.sol
  packages/omgx/message-relayer-fast/contracts/libraries/OVM_CrossDomainEnabledFast.sol
  packages/omgx/message-relayer-fast/contracts/message/L1Message.sol
  packages/omgx/message-relayer-fast/contracts/message/L2Message.sol
  packages/omgx/message-relayer-fast/hardhat.config.ts
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/scripts/build.sh
  packages/omgx/message-relayer-fast/scripts/deploy_messenger.js
  packages/omgx/message-relayer-fast/src/exec/run.ts
  packages/omgx/message-relayer-fast/src/service.ts
  packages/omgx/message-relayer-fast/test/a_message.spec.ts
  packages/omgx/message-relayer-fast/test/shared/env.ts
  packages/omgx/message-relayer-fast/test/shared/utils.ts
  packages/omgx/message-relayer-fast/test/shared/watcher-utils.ts
  packages/omgx/message-relayer-fast/test/shared/watcher.ts
  packages/omgx/wallet/deployment/local/addresses.json
  packages/omgx/wallet/package.json
  packages/omgx/wallet/wallet/src/deployment/local/addresses.json
Labels: A-ts-packages

#59 final documentation
  packages/omgx/contracts-analyzer/.env.example
  packages/omgx/contracts-analyzer/PORTING.md
  packages/omgx/contracts-analyzer/README.md
  packages/omgx/contracts-analyzer/contracts/MasterChef.sol
  packages/omgx/contracts-analyzer/contracts/MasterChefV2.sol
  packages/omgx/contracts-analyzer/contracts/Migrator.sol
  packages/omgx/contracts-analyzer/contracts/MiniChefV2.sol
  packages/omgx/contracts-analyzer/contracts/Ownable.sol
  packages/omgx/contracts-analyzer/contracts/SushiBar.sol
  packages/omgx/contracts-analyzer/contracts/SushiMaker.sol
  packages/omgx/contracts-analyzer/contracts/SushiMakerKashi.sol
  packages/omgx/contracts-analyzer/contracts/SushiRoll.sol
  packages/omgx/contracts-analyzer/contracts/SushiToken.sol
  packages/omgx/contracts-analyzer/contracts/bentobox/BentoBoxV1.sol
  packages/omgx/contracts-analyzer/contracts/bentobox/KashiPairMediumRiskV1.sol
  packages/omgx/contracts-analyzer/contracts/bentobox/PeggedOracleV1.sol
  packages/omgx/contracts-analyzer/contracts/governance/Timelock.sol
  packages/omgx/contracts-analyzer/contracts/interfaces/IERC20.sol
  packages/omgx/contracts-analyzer/contracts/interfaces/IMasterChef.sol
  packages/omgx/contracts-analyzer/contracts/interfaces/IRewarder.sol
  packages/omgx/contracts-analyzer/contracts/libraries/SafeERC20.sol
  packages/omgx/contracts-analyzer/contracts/libraries/SafeMath.sol
  packages/omgx/contracts-analyzer/contracts/libraries/SignedSafeMath.sol
  packages/omgx/contracts-analyzer/contracts/mocks/ComplexRewarder.sol
  packages/omgx/contracts-analyzer/contracts/mocks/ComplexRewarderTime.sol
  packages/omgx/contracts-analyzer/contracts/mocks/ERC20Mock.sol
  packages/omgx/contracts-analyzer/contracts/mocks/RewarderBrokenMock.sol
  packages/omgx/contracts-analyzer/contracts/mocks/RewarderMock.sol
  packages/omgx/contracts-analyzer/contracts/mocks/SushiMakerExploitMock.sol
  packages/omgx/contracts-analyzer/contracts/mocks/SushiMakerKashiExploitMock.sol
  packages/omgx/contracts-analyzer/contracts/mocks/SushiSwapFactoryMock.sol
  packages/omgx/contracts-analyzer/contracts/mocks/SushiSwapPairMock.sol
  packages/omgx/contracts-analyzer/contracts/mocks/WETH9Mock.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/LICENSE
  packages/omgx/contracts-analyzer/contracts/uniswapv2/README.md
  packages/omgx/contracts-analyzer/contracts/uniswapv2/UniswapV2ERC20.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/UniswapV2Factory.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/UniswapV2Pair.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/UniswapV2Router02.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/interfaces/IERC20.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/interfaces/IUniswapV2Callee.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/interfaces/IUniswapV2ERC20.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/interfaces/IUniswapV2Factory.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/interfaces/IUniswapV2Pair.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/interfaces/IUniswapV2Router01.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/interfaces/IUniswapV2Router02.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/interfaces/IWETH.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/libraries/Math.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/libraries/SafeMath.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/libraries/TransferHelper.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/libraries/UQ112x112.sol
  packages/omgx/contracts-analyzer/contracts/uniswapv2/libraries/UniswapV2Library.sol
  packages/omgx/contracts-analyzer/deployments/addresses.json
  packages/omgx/contracts-analyzer/package.json
  packages/omgx/contracts-analyzer/test/Timelock.test.js
Labels: A-ts-packages

#60 fix: update relayer service to latest
  packages/omgx/contracts-analyzer/README.md
  packages/omgx/contracts-analyzer/package.json
  packages/omgx/message-relayer-fast/README.md
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/src/service.ts
Labels: A-ts-packages

#64 break linting and address merge conflicts re. message-relayer
  .github/workflows/publish-canary.yml
  integration-tests/test/fee-payment.spec.ts
  packages/contracts/README.md
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/relay-tx.ts
  packages/message-relayer/src/service.ts
  yarn.lock
Labels: 2-reviewers, A-ci, A-contracts, A-integration-tests, M-contracts, M-dtl

#76 Rename the message-relayer-fast
  ops_omgx/cfn-devenv.sh
  ops_omgx/cloudformation/message-relayer-fast.yaml
  ops_omgx/docker/batch-submitter/wait-for-l1-and-l2.sh
  ops_omgx/docker/message-relayer-fast/Dockerfile
  ops_omgx/docker/message-relayer-fast/wait-for-l1-and-l2.sh
  ops_omgx/docker/message-relayer/Dockerfile
  ops_omgx/docker/message-relayer/relayer.sh
Labels: do-not-merge

#81 fix GH sync tests
  .github/workflows/sync-tests.yml
  integration-tests/sync-tests/sync-verifier.spec.ts
  integration-tests/test/shared/docker-compose.ts
  ops/docker-compose.yml
  ops/scripts/wait-for-verifier.sh
Labels: 2-reviewers, A-ci, A-integration-tests, M-ops

#33 Inomurko/latest tag+develop
  .github/workflows/omgx-integration.yml
  .github/workflows/omgx-publish-develop.yml
  .github/workflows/ts-packages.yml
  integration-tests/hardhat.config.ts
  ops/docker-compose-omgx-services.yml
  ops/docker-compose-omgx.yml
  ops/docker/Dockerfile.omgx_monorepo
  ops/docker/Dockerfile.wallet_deployer
  ops/up_local.sh
  packages/contracts/bin/deploy.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/deploy/007-OVM_L1CrossDomainMessenger.deploy.ts
  packages/contracts/deploy/008-Proxy__OVM_L1CrossDomainMessenger.deploy.ts
  packages/omgx/integration/README.md
  packages/omgx/integration/docker-compose-local.env.yml
  packages/omgx/integration/docker-compose-local.yml
  packages/omgx/integration/up_local.sh
  packages/omgx/wallet/bin/deploy.ts
  packages/omgx/wallet/bin/serve_dump.sh
  packages/omgx/wallet/deploy/000-LiquidityPools.deploy.ts
  packages/omgx/wallet/deploy/001-ERC20Test.deploy.ts
  packages/omgx/wallet/deploy/002-TokenPool.deploy.ts
  packages/omgx/wallet/deploy/003-AtomicSwap.deploy.ts
  packages/omgx/wallet/deploy/004-Dump.deploy.ts
  packages/omgx/wallet/hardhat.config.ts
  packages/omgx/wallet/package-lock.json
  packages/omgx/wallet/package.json
  packages/omgx/wallet/scripts/deployer.sh
  packages/omgx/wallet/scripts/wait-for-l1-and-l2.sh
  packages/omgx/wallet/tasks/deploy.ts
  packages/omgx/wallet/tsconfig.json
Labels: 2-reviewers, A-ci, A-contracts, A-integration-tests, M-contracts, M-ops

#83 Update fast message relayer name
  packages/omgx/message-relayer-fast/scripts/deploy_messenger.js
  packages/omgx/wallet/contracts/LP/L1LiquidityPool.sol
  packages/omgx/wallet/contracts/Message/L1Message.sol
  packages/omgx/wallet/contracts/libraries/OVM_FastCrossDomainEnabled.sol
  packages/omgx/wallet/deployment/local/addresses.json
  packages/omgx/wallet/deployment/rinkeby/addresses.json
  packages/omgx/wallet/test/a_setup.spec.ts
  packages/omgx/wallet/test/b_message.spec.ts
  packages/omgx/wallet/test/c_lp.spec.ts
  packages/omgx/wallet/test/shared/env.ts
  packages/omgx/wallet/test/shared/watcher-utils.ts
  packages/omgx/wallet/wallet/src/deployment/local/addresses.json
  packages/omgx/wallet/wallet/src/deployment/rinkeby/addresses.json
  packages/omgx/wallet/wallet/src/services/networkService.js
Labels: A-ts-packages

#85 resolve merge conflicts
  .github/workflows/publish-canary.yml
  .github/workflows/sync-tests.yml
  README.md
  integration-tests/hardhat.config.ts
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/core-utils/src/fees.ts
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/message-relayer/package.json
  packages/message-relayer/src/relay-tx.ts
  packages/smock/src/smockit/binding.ts
  tslint.base.json
  yarn.lock
Labels: 2-reviewers, A-ci, A-geth, A-integration-tests, A-ts-packages, M-batch-submitter, M-core-utils, M-dtl, M-smock

#71 Add proposer for batch-submitter
  .github/workflows/sync-tests.yml
  ops/docker-compose-omgx.yml
  ops/docker-compose.yml
  packages/contracts/bin/deploy.ts
  packages/omgx/wallet/.env.example
  packages/omgx/wallet/README.md
  yarn.lock
Labels: 2-reviewers, A-ci, A-contracts, M-contracts, M-ops

#78 Add whitelist and blacklist systems
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/omgx/message-relayer-fast/lambda/env.yml.example
  packages/omgx/message-relayer-fast/lambda/serverless.yml
  packages/omgx/message-relayer-fast/lambda/whitelist.py
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/src/exec/run.ts
  packages/omgx/message-relayer-fast/src/service.ts
Labels: 2-reviewers, A-ts-packages, enhancement

#67 Support fast message relayer (WIP)
  packages/omgx/message-relayer-fast/scripts/deploy_messenger.js
  packages/omgx/wallet/contracts/LP/L1LiquidityPool.sol
  packages/omgx/wallet/contracts/Message/L1Message.sol
  packages/omgx/wallet/contracts/libraries/OVM_FastCrossDomainEnabled.sol
  packages/omgx/wallet/deployment/local/addresses.json
  packages/omgx/wallet/deployment/rinkeby/addresses.json
  packages/omgx/wallet/hardhat.config.ts
  packages/omgx/wallet/test/a_setup.spec.ts
  packages/omgx/wallet/test/b_message.spec.ts
  packages/omgx/wallet/test/c_lp.spec.ts
  packages/omgx/wallet/test/d_nft.spec.ts
  packages/omgx/wallet/test/shared/env.ts
  packages/omgx/wallet/test/shared/watcher-utils.ts
  packages/omgx/wallet/wallet/package.json
  packages/omgx/wallet/wallet/public/env.js
  packages/omgx/wallet/wallet/src/actions/buyAction.js
  packages/omgx/wallet/wallet/src/actions/sellAction.js
  packages/omgx/wallet/wallet/src/actions/serviceAction.js
  packages/omgx/wallet/wallet/src/actions/tokenAction.js
  packages/omgx/wallet/wallet/src/components/farmList/FarmList.js
  packages/omgx/wallet/wallet/src/components/walletpicker/WalletPicker.js
  packages/omgx/wallet/wallet/src/containers/farm/Farm.js
  packages/omgx/wallet/wallet/src/containers/modals/deposit/DepositModal.js
  packages/omgx/wallet/wallet/src/containers/modals/deposit/steps/ApproveStep.js
  packages/omgx/wallet/wallet/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet/wallet/src/containers/modals/exit/ExitModal.js
  packages/omgx/wallet/wallet/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet/wallet/src/deployment/local/addresses.json
  packages/omgx/wallet/wallet/src/deployment/rinkeby/addresses.json
  packages/omgx/wallet/wallet/src/services/networkService.js
Labels: A-ts-packages, do-not-merge

#95 Fixed wallet integration test
  .github/workflows/integration.yml
  .github/workflows/omgx-integration.yml
  .github/workflows/omgx-sync-tests.yml
  .github/workflows/sync-tests.yml
  packages/omgx/wallet/bin/deploy.ts
  packages/omgx/wallet/contracts/LP/L1LiquidityPool.sol
  packages/omgx/wallet/contracts/LP/L2LiquidityPool.sol
  packages/omgx/wallet/contracts/Message/L1Message.sol
  packages/omgx/wallet/contracts/libraries/OVM_CrossDomainEnabledFast.sol
  packages/omgx/wallet/deploy/000-LiquidityPools.deploy.ts
  packages/omgx/wallet/deploy/003-AtomicSwap.deploy.ts
  packages/omgx/wallet/tasks/deploy.ts
  packages/omgx/wallet/test/a_setup.spec.ts
  packages/omgx/wallet/test/c_lp.spec.ts
  packages/omgx/wallet/test/shared/env.ts
  packages/omgx/wallet/test/shared/watcher-utils.ts
  packages/omgx/wallet/test/shared/watcher.ts
  packages/omgx/wallet/wallet/src/services/networkService.js
Labels: 2-reviewers, A-ci, A-ts-packages

#96 Fixed CrossDomainMessenger name
  packages/omgx/message-relayer-fast/scripts/deploy_messenger.js
  packages/omgx/message-relayer-fast/src/service.ts
Labels: A-ts-packages

#99 Keep the user logged in after changing chain
  packages/omgx/wallet/wallet/src/components/walletpicker/WalletPicker.js
  packages/omgx/wallet/wallet/src/components/walletpicker/WalletPicker.module.scss
  packages/omgx/wallet/wallet/src/containers/app/App.js
  packages/omgx/wallet/wallet/src/containers/nft/Nft.js
  packages/omgx/wallet/wallet/src/services/networkService.js
  packages/omgx/wallet/wallet/src/util/changeChain.js
Labels: A-ts-packages

#110 Merge conflics resolve
  .github/workflows/integration.yml
  .github/workflows/publish-canary.yml
  .github/workflows/sync-tests.yml
  .gitignore
  README.md
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  integration-tests/sync-tests/sync-verifier.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  l2geth/CHANGELOG.md
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/package.json
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  ops/README.md
  ops/docker-compose.yml
  package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L1ERC20Gateway.spec.ts
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L1ETHGateway.spec.ts
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L1StandardBridge.spec.ts
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L2DepositedERC20.spec.ts
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L2StandardBridge.spec.ts
  packages/contracts/tsconfig.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/message-relayer/test/unit-tests/relay-tx.spec.ts
  packages/smock/CHANGELOG.md
  packages/smock/package.json
  yarn.lock
Labels: 2-reviewers, A-ci, A-contracts, A-geth, A-integration-tests, M-batch-submitter, M-contracts, M-core-utils, M-dtl, M-ops, M-smock

#87 run wallet tests towards the stack
  .github/workflows/omgx-integration.yml
  .github/workflows/omgx-publish-develop.yml
  .github/workflows/omgx-sync-tests.yml
  .github/workflows/publish-develop.yml
  ops/docker-compose-omgx-services.yml
  ops/docker-compose-omgx.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.bl-wl
  ops/docker/Dockerfile.message-relayer-fast
  ops/docker/Dockerfile.omgx_monorepo
  ops/scripts/build-ci-omgx.sh
  ops/up_local.sh
  packages/omgx/bl-wl/bin/serve_dump.sh
  packages/omgx/bl-wl/dist/dumps/blacklist.json
  packages/omgx/bl-wl/dist/dumps/whitelist.json
  packages/omgx/bl-wl/scripts/serve.sh
  packages/omgx/message-relayer-fast/Dockerfile.message-relayer-fast
  packages/omgx/message-relayer-fast/README.md
  packages/omgx/message-relayer-fast/contracts/libraries/OVM_CrossDomainEnabledFast.sol
  packages/omgx/message-relayer-fast/contracts/message/L1Message.sol
  packages/omgx/message-relayer-fast/contracts/message/L2Message.sol
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/scripts/build.sh
  packages/omgx/message-relayer-fast/scripts/deploy_messenger.js
  packages/omgx/message-relayer-fast/scripts/relayer.sh
  packages/omgx/message-relayer-fast/test/a_message.spec.ts
  packages/omgx/message-relayer-fast/test/shared/env.ts
  packages/omgx/message-relayer-fast/test/shared/utils.ts
  packages/omgx/message-relayer-fast/test/shared/watcher-utils.ts
  packages/omgx/message-relayer-fast/test/shared/watcher.ts
  packages/omgx/wallet/.env.example
  packages/omgx/wallet/README.md
  packages/omgx/wallet/bin/deploy.ts
  packages/omgx/wallet/contracts/message-relayer-fast/OVM_L1CrossDomainMessengerFast.sol
  packages/omgx/wallet/deploy/000-CrossDomainEnabledFast.deploy.ts
  packages/omgx/wallet/deploy/001-LiquidityPools.deploy.ts
  packages/omgx/wallet/deploy/002-ERC20Test.deploy.ts
  packages/omgx/wallet/deploy/003-TokenPool.deploy.ts
  packages/omgx/wallet/deploy/004-AtomicSwap.deploy.ts
  packages/omgx/wallet/deploy/005-NFTTest.deploy.ts
  packages/omgx/wallet/deploy/006-Dump.deploy.ts
  packages/omgx/wallet/deployment/local/addresses.json
  packages/omgx/wallet/package.json
  packages/omgx/wallet/scripts/wait-for-l1-and-l2.sh
  packages/omgx/wallet/test/a_setup.spec.ts
  packages/omgx/wallet/test/b_message.spec.ts
  packages/omgx/wallet/test/c_lp.spec.ts
  packages/omgx/wallet/test/shared/env.ts
  packages/omgx/wallet/test/shared/utils.ts
  packages/omgx/wallet/test/shared/watcher-utils.ts
  packages/omgx/wallet/wallet/src/deployment/local/addresses.json
Labels: 2-reviewers, A-ci, A-ts-packages, M-ops

#98 fix: update crossDomainMessenger name for test
  packages/omgx/message-relayer-fast/.env.example
  packages/omgx/message-relayer-fast/README.md
Labels: A-ts-packages

#119 Fix wallet test
  .vscode/settings.json
  packages/omgx/wallet/bin/deploy.ts
  packages/omgx/wallet/contracts/L1ERC20Gateway.sol
  packages/omgx/wallet/contracts/L2DepositedERC20.sol
  packages/omgx/wallet/contracts/LP/L1LiquidityPool.sol
  packages/omgx/wallet/contracts/LP/L2LiquidityPool.sol
  packages/omgx/wallet/contracts/Message/L1Message.sol
  packages/omgx/wallet/contracts/TokenPool.sol
  packages/omgx/wallet/contracts/interfaces/IUniswapV2ERC20.sol
  packages/omgx/wallet/contracts/interfaces/iAtomicSwap.sol
  packages/omgx/wallet/contracts/interfaces/iOVM_L1ETHGateway.sol
  packages/omgx/wallet/contracts/interfaces/iOVM_L2DepositedERC20.sol
  packages/omgx/wallet/contracts/libraries/OVM_CrossDomainEnabledFast.sol
  packages/omgx/wallet/deploy/000-LiquidityPools.deploy.ts
  packages/omgx/wallet/deploy/001-ERC20.deploy.ts
  packages/omgx/wallet/deploy/002-TokenPool.deploy.ts
  packages/omgx/wallet/deploy_toUpdate/001-ERC20Test.deploy.ts
  packages/omgx/wallet/deployment/local/addresses.json
  packages/omgx/wallet/package-lock.json
  packages/omgx/wallet/package.json
  packages/omgx/wallet/test/a_setup.spec.ts
  packages/omgx/wallet/test/c_lp.spec.ts
  packages/omgx/wallet/test/d_nft.spec.ts
  packages/omgx/wallet/test/shared/env.ts
  packages/omgx/wallet/test/shared/utils.ts
  packages/omgx/wallet/wallet/src/deployment/local/addresses.json
Labels: A-ts-packages

#93 feat: add exit rewards to correct pool
  packages/omgx/wallet/contracts/LP/L1LiquidityPool.sol
  packages/omgx/wallet/contracts/LP/L2LiquidityPool.sol
  packages/omgx/wallet/deployment/local/addresses.json
  packages/omgx/wallet/test/c_lp.spec.ts
  packages/omgx/wallet/wallet/src/deployment/local/addresses.json
Labels: A-ts-packages

#122 Bugfixes
  .github/workflows/integration.yml
  README.md
  ops/docker-compose.yml
  package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
Labels: 2-reviewers, A-ci, A-ts-packages, M-dtl, M-ops

#125 Fix integration test
  .github/workflows/integration.yml
  .github/workflows/omgx-integration.yml
  .github/workflows/omgx-sync-tests.yml
  .gitignore
  examples/l1-l2-deposit-withdrawal/contracts/ERC20.sol
  examples/l1-l2-deposit-withdrawal/contracts/L2StandardERC20.sol
  examples/l1-l2-deposit-withdrawal/contracts/OVM_CrossDomainEnabled.sol
  examples/l1-l2-deposit-withdrawal/contracts/OVM_L1StandardBridge.sol
  examples/l1-l2-deposit-withdrawal/contracts/OVM_L2StandardBridge.sol
  examples/l1-l2-deposit-withdrawal/contracts/interfaces/IL2StandardERC20.sol
  examples/l1-l2-deposit-withdrawal/contracts/interfaces/iOVM_CrossDomainMessenger.sol
  examples/l1-l2-deposit-withdrawal/contracts/interfaces/iOVM_L1ERC20Bridge.sol
  examples/l1-l2-deposit-withdrawal/contracts/interfaces/iOVM_L1StandardBridge.sol
  examples/l1-l2-deposit-withdrawal/contracts/interfaces/iOVM_L2ERC20Bridge.sol
  examples/l1-l2-deposit-withdrawal/contracts/libraries/Lib_PredeployAddresses.sol
  examples/l1-l2-deposit-withdrawal/test/example.test.js
  examples/standard-bridge-tokens/contracts/ERC20.sol
  examples/standard-bridge-tokens/contracts/L2StandardERC20.sol
  examples/standard-bridge-tokens/contracts/OVM_CrossDomainEnabled.sol
  examples/standard-bridge-tokens/contracts/OVM_L1StandardBridge.sol
  examples/standard-bridge-tokens/contracts/OVM_L2StandardBridge.sol
  examples/standard-bridge-tokens/contracts/interfaces/IL2StandardERC20.sol
  examples/standard-bridge-tokens/contracts/interfaces/iOVM_CrossDomainMessenger.sol
  examples/standard-bridge-tokens/contracts/interfaces/iOVM_L1ERC20Bridge.sol
  examples/standard-bridge-tokens/contracts/interfaces/iOVM_L1StandardBridge.sol
  examples/standard-bridge-tokens/contracts/interfaces/iOVM_L2ERC20Bridge.sol
  examples/standard-bridge-tokens/contracts/libraries/Lib_PredeployAddresses.sol
  examples/standard-bridge-tokens/test/example.test.js
  ops/docker-compose.yml
  ops/docker/Dockerfile.wallet_deployer
  ops/up_local.sh
  package.json
  packages/contracts/tasks/deploy.ts
  packages/omgx/message-relayer-fast/.prettierrc.json
  packages/omgx/wallet/wallet/package.json
Labels: 2-reviewers, A-ci, A-contracts, M-contracts, M-ops

#103 Updated the readme.md with working steps for local setup
  packages/omgx/wallet/README.md
Labels: A-ts-packages

#133 Axios base service refactoring
  packages/omgx/wallet/wallet/.env.example
  packages/omgx/wallet/wallet/src/actions/buyAction.js
  packages/omgx/wallet/wallet/src/actions/buyTaskAction.js
  packages/omgx/wallet/wallet/src/actions/loginAction.js
  packages/omgx/wallet/wallet/src/actions/sellAction.js
  packages/omgx/wallet/wallet/src/actions/sellTaskAction.js
  packages/omgx/wallet/wallet/src/actions/serviceAction.js
  packages/omgx/wallet/wallet/src/api/buyerAxios.js
  packages/omgx/wallet/wallet/src/api/etherScanAxios.js
  packages/omgx/wallet/wallet/src/api/omgxWatcherAxios.js
  packages/omgx/wallet/wallet/src/api/rinkebyServiceAxios.js
  packages/omgx/wallet/wallet/src/api/sellerAxios.js
  packages/omgx/wallet/wallet/src/api/serviceAxios.js
  packages/omgx/wallet/wallet/src/services/networkService.js
Labels: A-ts-packages

#139 Update message relayer fast contracts
  .husky/pre-commit
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/message-relayer/package.json
  packages/message-relayer/src/service.ts
  packages/omgx/message-relayer-fast/contracts/OVM_L1CrossDomainMessengerFast.sol
  packages/omgx/message-relayer-fast/contracts/libraries/OVM_CrossDomainEnabledFast.sol
  packages/omgx/message-relayer-fast/contracts/message/L1Message.sol
  packages/omgx/message-relayer-fast/contracts/message/L2Message.sol
  packages/omgx/message-relayer-fast/hardhat.config.ts
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/wallet/contracts/libraries/OVM_CrossDomainEnabledFast.sol
  yarn.lock
Labels: 2-reviewers, A-ts-packages, M-batch-submitter
