Repository omgnetwork/optimism, pull requests merged in 2021-09, with the labels that each got.

#337 Bugfix/redesign transaction
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.styles.js
  packages/omgx/wallet-frontend/src/components/mainMenu/networkSwitcher/NetworkSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/networkSwitcher/NetworkSwitcher.styles.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.module.scss
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages

#342 New Gateway UI Bugs
  packages/omgx/wallet-frontend/src/components/icons/CloseIcon.js
  packages/omgx/wallet-frontend/src/components/icons/NavIcon.js
  packages/omgx/wallet-frontend/src/components/input/Input.styles.js
  packages/omgx/wallet-frontend/src/components/listAccount/ListAccount.styles.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/listFarm/ListFarm.styles.js
  packages/omgx/wallet-frontend/src/components/listNFT/ListNFT.styles.js
  packages/omgx/wallet-frontend/src/components/mainMenu/MainMenu.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.styles.js
  packages/omgx/wallet-frontend/src/components/mainMenu/menuItems/MenuItems.js
  packages/omgx/wallet-frontend/src/components/mainMenu/networkSwitcher/NetworkSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/networkSwitcher/NetworkSwitcher.styles.js
  packages/omgx/wallet-frontend/src/components/modal/Modal.js
  packages/omgx/wallet-frontend/src/components/modal/Modal.styles.js
  packages/omgx/wallet-frontend/src/components/pager/Pager.js
  packages/omgx/wallet-frontend/src/components/pager/Pager.module.scss
  packages/omgx/wallet-frontend/src/components/tabs/Tabs.styles.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.styles.js
  packages/omgx/wallet-frontend/src/containers/account/Account.styles.js
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.module.scss
  packages/omgx/wallet-frontend/src/containers/transactions/history.styles.js
  packages/omgx/wallet-frontend/src/layout/index.js
Labels: 2-reviewers, A-ts-packages

#301 Accumulate batches of messages in the message-relayer before flushing them out via the MMR.sol
  ops/docker-compose.yml
  packages/message-relayer/env.example
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/message-relayer/src/types.ts
Labels: 2-reviewers, A-ts-packages, M-ops

#347 Fix and function verify BOBA DAO on rinkeby
  omgx_examples/compound-simple/README.md
  omgx_examples/compound-simple/migrations/1_migration.js
  omgx_examples/compound-simple/networks/addresses.json
  omgx_examples/compound-simple/networks/rinkeby-l2.json
  omgx_examples/compound-simple/scripts/cancelProposal.js
  omgx_examples/compound-simple/scripts/castVotes.js
  omgx_examples/compound-simple/scripts/delegateVotes.js
  omgx_examples/compound-simple/scripts/executeProposal.js
  omgx_examples/compound-simple/scripts/initiateCompound.js
  omgx_examples/compound-simple/scripts/queueProposal.js
  omgx_examples/compound-simple/scripts/submitProposal.js
  packages/omgx/wallet-frontend/src/components/Icons/LinkIcon.js
  packages/omgx/wallet-frontend/src/deployment/rinkeby/addresses.json
Labels: A-ts-packages

#349 Feature/redesign network switcher.
  packages/omgx/wallet-frontend/src/components/Icons/LayerIcon.js
  packages/omgx/wallet-frontend/src/components/Icons/NetworkIcon.js
  packages/omgx/wallet-frontend/src/components/icons/NetworkSwitcherIcon.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.styles.js
  packages/omgx/wallet-frontend/src/components/mainMenu/networkSwitcher/NetworkSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/networkSwitcher/NetworkSwitcher.styles.js
  packages/omgx/wallet-frontend/src/images/logo-boba.svg
Labels: A-ts-packages

#341 Support addresses in gas oracle service
  ops/docker-compose.yml
  packages/omgx/gas-price-oracle/.env.example
  packages/omgx/gas-price-oracle/src/exec/run.ts
  packages/omgx/gas-price-oracle/src/service.ts
Labels: 2-reviewers, A-ts-packages, M-ops

#339 audit updates
  ops_omgx/monitor/service-monitor/src/1_deploy-message.ts
  ops_omgx/monitor/service-monitor/src/2_send-message.ts
  ops_omgx/test/test/a_setup.spec.ts
  ops_omgx/test/test/b_message.spec.ts
  packages/omgx/contracts/contracts/AtomicSwap.sol
  packages/omgx/contracts/contracts/ERC721Genesis.sol
  packages/omgx/contracts/contracts/ERC721Registry.sol
  packages/omgx/contracts/contracts/LP/L1LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/L2LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/interfaces/iL1LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/interfaces/iL2LiquidityPool.sol
  packages/omgx/contracts/contracts/OVM_L1CrossDomainMessengerFast.sol
  packages/omgx/contracts/contracts/TokenPool.sol
  packages/omgx/contracts/contracts/bridges/OVM_L1NFTBridge.sol
  packages/omgx/contracts/contracts/bridges/OVM_L2NFTBridge.sol
  packages/omgx/contracts/contracts/bridges/interfaces/iOVM_L1NFTBridge.sol
  packages/omgx/contracts/contracts/bridges/interfaces/iOVM_L2NFTBridge.sol
  packages/omgx/contracts/contracts/libraries/Lib_ResolvedDelegateProxy.sol
  packages/omgx/contracts/contracts/libraries/OVM_CrossDomainEnabledFast.sol
  packages/omgx/contracts/contracts/standards/IL2StandardERC721.sol
  packages/omgx/contracts/contracts/standards/L2StandardERC721.sol
  packages/omgx/contracts/contracts/test-helpers/L1ERC20.sol
  packages/omgx/contracts/contracts/test-helpers/L1ERC721.sol
  packages/omgx/contracts/contracts/test-helpers/Message/L1Message.sol
  packages/omgx/contracts/contracts/test-helpers/Message/L2Message.sol
  packages/omgx/contracts/deploy/004-L2ERC20.deploy.ts
  packages/omgx/contracts/deploy/006-TestComms.deploy.ts
  packages/omgx/contracts/deploy/011-L2ERC721.deploy.ts
  packages/omgx/contracts/test/a_erc20.spec.ts
  packages/omgx/contracts/test/c_nft_bridge.spec.ts
  packages/omgx/gas-price-oracle/contracts/OVM_GasPriceOracle.sol
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#346 Add subgraphs
  .gitignore
  packages/omgx/subgraph/L1/LICENSE
  packages/omgx/subgraph/L1/README.md
  packages/omgx/subgraph/L1/abis/L1LiquidityPool.json
  packages/omgx/subgraph/L1/abis/OVM_L1StandardBridge.json
  packages/omgx/subgraph/L1/config/mainnet.json
  packages/omgx/subgraph/L1/config/rinkeby.json
  packages/omgx/subgraph/L1/package.json
  packages/omgx/subgraph/L1/schema.graphql
  packages/omgx/subgraph/L1/src/L1LiquidityPoolMapping.ts
  packages/omgx/subgraph/L1/src/OVM_L1StandardBridgeMapping.ts
  packages/omgx/subgraph/L1/subgraph.template.yaml
  packages/omgx/subgraph/L1/subgraph.yaml
  packages/omgx/subgraph/L1/truffle.js
  packages/omgx/subgraph/L2/LICENSE
  packages/omgx/subgraph/L2/README.md
  packages/omgx/subgraph/L2/abis/L2LiquidityPool.json
  packages/omgx/subgraph/L2/abis/OVM_L2StandardBridge.json
  packages/omgx/subgraph/L2/config/mainnet.json
  packages/omgx/subgraph/L2/config/rinkeby.json
  packages/omgx/subgraph/L2/package.json
  packages/omgx/subgraph/L2/schema.graphql
  packages/omgx/subgraph/L2/src/L2LiquidityPoolMapping.ts
  packages/omgx/subgraph/L2/src/OVM_L2StandardBridgeMapping.ts
  packages/omgx/subgraph/L2/subgraph.template.yaml
  packages/omgx/subgraph/L2/subgraph.yaml
  packages/omgx/subgraph/L2/truffle.js
  packages/omgx/subgraph/README.md
Labels: A-ts-packages

#330 TURING OFFCHAIN COMPUTE: add off-chain examples for changing swap fees and square root as fee-test.ts and stable-test.ts
  packages/omgx/offchain-prototype/contracts/HelloTuring.sol
  packages/omgx/offchain-prototype/contracts/StableSwap.sol
  packages/omgx/offchain-prototype/contracts/TuringHelper.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/LICENSE
  packages/omgx/offchain-prototype/contracts/uniswapv2/README.md
  packages/omgx/offchain-prototype/contracts/uniswapv2/UniswapV2ERC20.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/UniswapV2Factory.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/UniswapV2Pair.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/UniswapV2Router02.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/interfaces/IERC20.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/interfaces/IUniswapV2Callee.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/interfaces/IUniswapV2ERC20.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/interfaces/IUniswapV2Factory.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/interfaces/IUniswapV2Pair.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/interfaces/IUniswapV2Router01.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/interfaces/IUniswapV2Router02.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/interfaces/IWETH.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/libraries/Math.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/libraries/SafeMath.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/libraries/TransferHelper.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/libraries/UQ112x112.sol
  packages/omgx/offchain-prototype/contracts/uniswapv2/libraries/UniswapV2Library.sol
  packages/omgx/offchain-prototype/hardhat.config.ts
  packages/omgx/offchain-prototype/package.json
  packages/omgx/offchain-prototype/test/fee-test.ts
  packages/omgx/offchain-prototype/test/hello-test.ts
  packages/omgx/offchain-prototype/test/stable-test.ts
  yarn.lock
Labels: A-ts-packages

#318 TURING OFFCHAIN COMPUTE: add AWS endpoint toy examples and Stableswap Quadratic solver
  packages/omgx/offchain-prototype/AWS_code/turing_add_index.js
  packages/omgx/offchain-prototype/AWS_code/turing_lambda_function.py
  packages/omgx/offchain-prototype/README-moved.md
  packages/omgx/offchain-prototype/README.md
Labels: A-ts-packages

#354 DAO display logic and fixes
  omgx_examples/compound-simple/migrations/1_migration.js
  omgx_examples/compound-simple/scripts/checkProposals.js
  omgx_examples/compound-simple/scripts/delegateVotes.js
  omgx_examples/compound-simple/scripts/submitProposalText.js
  packages/omgx/wallet-frontend/src/actions/daoAction.js
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.module.scss
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.module.scss
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/ProposalList.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/proposalList.module.scss
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/NewProposalModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/daoModal.module.scss
  packages/omgx/wallet-frontend/src/containers/transactions/Deposits.js
  packages/omgx/wallet-frontend/src/reducers/daoReducer.js
  packages/omgx/wallet-frontend/src/reducers/signatureReducer.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#357 Clean up account page
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
Labels: A-ts-packages

#352 odds and ends cleanup and add support for L1 pending transactions
  packages/omgx/wallet-frontend/src/components/listNFT/listNFT.js
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/nft/Nft.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#360 Move elements to modal on NFT page
  packages/omgx/wallet-frontend/src/components/listNFT/listNFT.js
  packages/omgx/wallet-frontend/src/components/listNFTfactory/listNFTfactory.js
  packages/omgx/wallet-frontend/src/components/listNFTfactory/listNFTfactory.module.scss
  packages/omgx/wallet-frontend/src/containers/nft/Nft.js
Labels: A-ts-packages

#365 Bugfix/redesign fix history nft
  packages/omgx/wallet-frontend/src/actions/daoAction.js
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/themeSwitcher/ThemeSwitcher.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.module.scss
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.module.scss
  packages/omgx/wallet-frontend/src/containers/dao/proposal/ProposalList.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/proposalList.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/dao/DelegateDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/NewProposalModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/ProposalAction.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/TransferDaoModal.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
Labels: A-ts-packages

#375 Fix light theme styling
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.module.scss
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.styles.js
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/listNFT/listNFT.js
  packages/omgx/wallet-frontend/src/components/listNFTfactory/listNFTfactory.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.js
  packages/omgx/wallet-frontend/src/components/modal/Modal.styles.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.module.scss
  packages/omgx/wallet-frontend/src/containers/dao/Dao.styles.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/ProposalList.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/ProposalList.styles.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/proposalList.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/dao/DelegateDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/NewProposalModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/ProposalAction.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/TransferDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/daoModal.module.scss
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
Labels: A-ts-packages

#380 Bugfix/redesign wallet fixes
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/listAccount/ListAccount.styles.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/mainMenu/themeSwitcher/ThemeSwitcher.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/DelegateDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/TransferDaoModal.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/layout/index.js
Labels: A-ts-packages

#391 Bugfix/wallet redesign fixes v1
  packages/omgx/wallet-frontend/src/actions/daoAction.js
  packages/omgx/wallet-frontend/src/actions/networkAction.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/ProposalList.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/TransferDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmWithdrawModal.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/reducers/daoReducer.js
  packages/omgx/wallet-frontend/src/reducers/uiReducer.js
  packages/omgx/wallet-frontend/src/selectors/daoSelector.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#396 fix for the proposal free text with html link
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/dao/NewProposalModal.js
Labels: A-ts-packages

#394 cleanup DAO page
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.module.scss
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.module.scss
  packages/omgx/wallet-frontend/src/containers/dao/proposal/proposalList.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/dao/TransferDaoModal.js
  packages/omgx/wallet-frontend/src/images/logo-boba.svg
Labels: A-ts-packages

#400 UI fixes
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/input/Input.module.scss
  packages/omgx/wallet-frontend/src/components/input/Input.styles.js
  packages/omgx/wallet-frontend/src/components/listAccount/ListAccount.styles.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/mainMenu/MainMenu.styles.js
  packages/omgx/wallet-frontend/src/components/mainMenu/layerSwitcher/LayerSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/menuItems/MenuItems.styles.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/account/Account.styles.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
Labels: A-ts-packages

#402 fix entry checks and approval logic for Earn
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
Labels: A-ts-packages

#404 Add loading state to Farm page
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/processexit/ProcessExitsModal.js
Labels: A-ts-packages

#397 feat: add batch for fast relays
  ops/docker-compose-geth.yml
  ops/docker-compose.yml
  packages/omgx/contracts/.env.example
  packages/omgx/contracts/bin/deploy.ts
  packages/omgx/contracts/contracts/OVM_L1MultiMessageRelayerFast.sol
  packages/omgx/contracts/deploy/012-MultiMessageRelayerFast.deploy.ts
  packages/omgx/contracts/deploy/013-Dump.deploy.ts
  packages/omgx/message-relayer-fast/src/exec/run.ts
  packages/omgx/message-relayer-fast/src/service.ts
  packages/omgx/message-relayer-fast/src/types.ts
Labels: 2-reviewers, A-ts-packages, M-ops

#368 Update maximum gasPrice
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#363 feat: add circuit breakers
  packages/omgx/contracts/contracts/LP/L1LiquidityPool.sol
  packages/omgx/contracts/contracts/LP/L2LiquidityPool.sol
  packages/omgx/contracts/contracts/OVM_L1CrossDomainMessengerFast.sol
  packages/omgx/message-relayer-fast/contracts/L1LiquidityPool.json
  packages/omgx/message-relayer-fast/contracts/L2LiquidityPool.json
  packages/omgx/message-relayer-fast/test/b_lp.spec.ts
Labels: A-ts-packages

#405 gateway: save active page in localStorage
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/reducers/uiReducer.js
  packages/omgx/wallet-frontend/src/selectors/uiSelector.js
Labels: A-ts-packages

#416 Basic Transfer modal fixes and basic error handling for user rejected signature
  packages/omgx/wallet-frontend/src/actions/createAction.js
  packages/omgx/wallet-frontend/src/actions/networkAction.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal_new.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/boxConfirmation/BoxConfirmation.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/boxConfirmation/BoxConfirmation.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/wrongnetwork/WrongNetworkModal.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#420 Bugfix/boba gateway fix
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.module.scss
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.module.scss
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/ProposalList.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/NewProposalModal.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.module.scss
  packages/omgx/wallet-frontend/src/layout/index.js
  packages/omgx/wallet-frontend/src/reducers/daoReducer.js
Labels: A-ts-packages

#422 Added show all as check box with option to show and hide the tokens list base on balance
  packages/omgx/wallet-frontend/src/actions/networkAction.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/processexit/ProcessExitsModal.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
Labels: A-ts-packages

#406 double check SCC event
  packages/message-relayer/package.json
  packages/message-relayer/src/service.ts
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/src/service.ts
  yarn.lock
Labels: 2-reviewers, A-ts-packages

#425 Test/improve 7 day exit flow
  packages/omgx/wallet-frontend/src/containers/modals/processexit/ProcessExitsModal.js
  packages/omgx/wallet-frontend/src/containers/modals/processexit/ProcessExitsModal.module.scss
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
Labels: A-ts-packages

#426 fix for left align content removed margin auto
  packages/omgx/wallet-frontend/src/containers/home/Home.js
Labels: A-ts-packages

#429 Fix: Vote option on proposal
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#430 FIX: Broken view of DAO on mobile.
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.module.scss
  packages/omgx/wallet-frontend/src/containers/dao/proposal/proposalList.module.scss
Labels: A-ts-packages

#434 Fix show all and DAO votes
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/farm/tableHeadList.js
  packages/omgx/wallet-frontend/src/containers/nft/Nft.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#435 Update LP addresses
  packages/omgx/contracts/deployment/mainnet/addressess.json
  packages/omgx/wallet-frontend/src/deployment/mainnet/addresses.json
Labels: A-ts-packages

#438 Fix input warning and dropdown
  packages/omgx/wallet-frontend/src/components/gaspicker/GasPicker.styles.js
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/listNFTfactory/listNFTfactory.js
  packages/omgx/wallet-frontend/src/containers/account/Account.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/layout/index.js
Labels: A-ts-packages

#440 Fix receipt of null
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#439 Bugfix - light theme fixes
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.module.scss
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.module.scss
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.module.scss
  packages/omgx/wallet-frontend/src/containers/dao/proposal/ProposalList.js
  packages/omgx/wallet-frontend/src/containers/dao/proposal/proposalList.module.scss
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/index.scss
Labels: A-ts-packages

#436 changes:
  packages/omgx/wallet-frontend/src/components/mainMenu/themeSwitcher/ThemeSwitcher.js
  packages/omgx/wallet-frontend/src/components/mainMenu/themeSwitcher/ThemeSwitcher.styles.js
  packages/omgx/wallet-frontend/src/components/tabs/Tabs.styles.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.module.scss
Labels: A-ts-packages

#444 Fix transaction history styling for mobile
  packages/omgx/wallet-frontend/src/components/button/Button.js
  packages/omgx/wallet-frontend/src/components/mainMenu/MainMenu.js
  packages/omgx/wallet-frontend/src/containers/transactions/Deposits.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.styles.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.module.scss
Labels: A-ts-packages

#447 update LP
  packages/omgx/contracts/contracts/LP/L1LiquidityPool.sol
Labels: A-ts-packages

#448 update master, contracts, frontend
  ops_omgx/monitor/transaction-monitor/exec/run-monitor.js
  ops_omgx/monitor/transaction-monitor/services/database.service.js
  ops_omgx/monitor/transaction-monitor/services/messageMonitor.js
  ops_omgx/monitor/transaction-monitor/services/utilities/optimismEnv.js
  packages/omgx/contracts/contracts/LP/L1LiquidityPool.sol
  packages/omgx/wallet-frontend/src/components/button/Button.js
  packages/omgx/wallet-frontend/src/components/mainMenu/MainMenu.js
  packages/omgx/wallet-frontend/src/containers/transactions/Deposits.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.styles.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.module.scss
Labels: A-ts-packages

#451 Update gas oracle README.md
  packages/omgx/gas-price-oracle/README.md
Labels: A-ts-packages

#453 Update LP address
  packages/omgx/contracts/deployment/mainnet/addressess.json
  packages/omgx/wallet-frontend/src/deployment/mainnet/addresses.json
Labels: A-ts-packages

#449 adding FILTER_ENDPOINT to message-relayer and message-relayer-fast
  .github/workflows/push2aws.yml
  ops_omgx/docker/message-relayer-fast/wait-for-l1-and-l2.sh
  ops_omgx/docker/message-relayer/relayer.sh
  ops_omgx/docker/message-relayer/wait-for-l1-and-l2.sh
Labels: 2-reviewers, A-ci

#459 Modal close reordering: Update networkService.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#455 Improved documentation of the GPO
  packages/omgx/gas-price-oracle/README.md
Labels: A-ts-packages

#446 Reconcile gateway with simplified endpoints
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages

#458 Fix modal height (inconsistency) #441
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/modal/Modal.js
  packages/omgx/wallet-frontend/src/components/modal/Modal.styles.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.module.scss
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/containers/modals/addtoken/AddTokenModal.js
  packages/omgx/wallet-frontend/src/containers/modals/addtoken/AddTokenModal.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/DelegateDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/TransferDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/DepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputSteps.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/ExitModal.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitSteps.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmModal.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmWithdrawModal.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.style.js
  packages/omgx/wallet-frontend/src/pages/history/index.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#457 adding blockexplorer-blockscout and other changes to the dtl and l2geth services to actually allow the replicas to run fine
  .github/workflows/push2aws.yml
  ops_omgx/cfn-devenv.sh
  ops_omgx/cloudformation/04-l1-l2-test-scheduled-ecs-task.yaml
  ops_omgx/cloudformation/05-graph.yaml
  ops_omgx/cloudformation/07-l1-l2-test-scheduled-ecs-task.yaml
  ops_omgx/cloudformation/batch-submitter.yaml
  ops_omgx/cloudformation/blockexplorer-blockscout.yaml
  ops_omgx/cloudformation/data-transport-layer.yaml
  ops_omgx/cloudformation/l2geth.yaml
  ops_omgx/cloudformation/omgx-gas-price-oracle.yaml
  ops_omgx/cloudformation/replica-l2.yaml
  ops_omgx/cloudformation/transaction-monitor.yaml
  ops_omgx/docker/blockexplorer-blockscout/Dockerfile
  ops_omgx/docker/blockexplorer-blockscout/entrypoint.sh
  ops_omgx/docker/data-transport-layer/dtl.sh
  ops_omgx/docker/l2geth/geth.sh
  ops_omgx/docker/nginx-eth-proxy/Dockerfile.nginx_blockscout
  ops_omgx/docker/nginx-eth-proxy/nginx.template.conf
  ops_omgx/docker/nginx-eth-proxy/proxy_no_lua_blockscout.conf
  ops_omgx/docker/nginx-eth-proxy/proxy_no_lua_data_transport_layer.conf
  ops_omgx/docker/nginx-eth-proxy/proxy_no_lua_graph.conf
Labels: 2-reviewers, A-ci

#461 use StaticJsonRpcProvider where possible
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/event-handler-types.ts
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/exec/withdraw.ts
  packages/message-relayer/src/relay-tx.ts
  packages/message-relayer/src/service.ts
  packages/omgx/gas-price-oracle/src/exec/run.ts
  packages/omgx/gas-price-oracle/src/service.ts
  packages/omgx/message-relayer-fast/src/exec/run.ts
  packages/omgx/message-relayer-fast/src/service.ts
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/replica-healthcheck/src/helpers.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#464 rmi images not needed anymore on master
  .github/workflows/omgx-publish-develop.yml
  .github/workflows/omgx-publish-master.yml
Labels: 2-reviewers, A-ci

#466 grep the right builds
  .github/workflows/omgx-publish-master.yml
Labels: 2-reviewers, A-ci

#468 Update addresses
  packages/omgx/contracts/deployment/mainnet/addressess.json
  packages/omgx/wallet-frontend/src/deployment/mainnet/addresses.json
Labels: A-ts-packages

#471 add FAQ, remove legacy gas picker, clarify REPv2 support
  packages/omgx/wallet-frontend/src/actions/networkAction.js
  packages/omgx/wallet-frontend/src/api/ethGasStationAxios.js
  packages/omgx/wallet-frontend/src/components/gaspicker/GasPicker.js
  packages/omgx/wallet-frontend/src/components/gaspicker/GasPicker.styles.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/dao/Dao.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#470 Fix the missing filter list bug
  .gitignore
  ops_omgx/api/watcher-api/env-mainnet.yml
  ops_omgx/api/watcher-api/env-rinkeby.yml
  ops_omgx/monitor/transaction-monitor/services/blockMonitor.js
  packages/message-relayer/package.json
  packages/message-relayer/src/service.ts
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/src/service.ts
Labels: 2-reviewers, A-ts-packages

#473 UI residual smoothing
  packages/omgx/wallet-frontend/src/components/button/Button.js
  packages/omgx/wallet-frontend/src/components/button/Button.module.scss
  packages/omgx/wallet-frontend/src/components/inputselect/InputSelect.js
  packages/omgx/wallet-frontend/src/components/inputselect/InputSelect.module.scss
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/farm/tableHeadList.js
  packages/omgx/wallet-frontend/src/containers/help/Help.js
  packages/omgx/wallet-frontend/src/containers/help/Help.module.scss
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmWithdrawModal.js
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/omgx/wallet-frontend/src/util/coinImage.js
Labels: A-ts-packages

#476 better user feedback if garbled inputs
  packages/omgx/wallet-frontend/src/components/icons/DAOIcon.js
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
Labels: A-ts-packages

#481 improve MM switching process and change Deposit->Bridge
  packages/omgx/wallet-frontend/src/components/button/Button.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/walletpicker/WalletPicker.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/containers/modals/wrongnetwork/WrongNetworkModal.js
  packages/omgx/wallet-frontend/src/containers/modals/wrongnetwork/WrongNetworkModal.module.scss
  packages/omgx/wallet-frontend/src/reducers/setupReducer.js
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/omgx/wallet-frontend/src/util/masterConfig.js
Labels: A-ts-packages

#484 Add log and data storage for L2 revenue
  packages/omgx/gas-price-oracle/src/service.ts
Labels: A-ts-packages

#486 Fix the decimal place of the balance data in the gas oracle's log
  packages/omgx/gas-price-oracle/src/service.ts
Labels: A-ts-packages

#487 More information for the users; fixed bug in withdrawal of staked amounts
  packages/omgx/wallet-frontend/src/actions/tokenAction.js
  packages/omgx/wallet-frontend/src/components/Icons/AlertIcon.js
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/account/Account.styles.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmWithdrawModal.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/pages/history/index.js
  packages/omgx/wallet-frontend/src/pages/page.style.js
  packages/omgx/wallet-frontend/src/reducers/tokenReducer.js
  packages/omgx/wallet-frontend/src/reducers/uiReducer.js
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/omgx/wallet-frontend/src/util/amountConvert.js
  packages/omgx/wallet-frontend/src/util/coinImage.js
Labels: A-ts-packages

#494 Improved unit handling
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmWithdrawModal.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/omgx/wallet-frontend/src/util/amountConvert.js
Labels: A-ts-packages

#497 Reduce the api call
  ops_omgx/monitor/transaction-monitor/services/utilities/optimismEnv.js
  packages/omgx/gas-price-oracle/src/service.ts
Labels: A-ts-packages

#496 enables USE ALL for nonETH L2->L2 transfers and fix OMG bridges to deal with OMG token's violation of both ERC20 and EIP-20
  packages/omgx/wallet-frontend/src/actions/createAction.js
  packages/omgx/wallet-frontend/src/actions/networkAction.js
  packages/omgx/wallet-frontend/src/components/Icons/AlertIcon.js
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/help/Help.js
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmWithdrawModal.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/deployment/contracts/OMG/OMG.json
  packages/omgx/wallet-frontend/src/services/OMG.json
  packages/omgx/wallet-frontend/src/services/networkService.js
  packages/omgx/wallet-frontend/src/util/amountConvert.js
Labels: A-ts-packages

#515 Fix omg l1 staking
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmWithdrawModal.js
  packages/omgx/wallet-frontend/src/services/OMG.json
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#514 adding logic to the .github/workflows/omgx-publish-master.yml for pushing same tag containers to aws ecr also
  .github/workflows/omgx-publish-master.yml
Labels: 2-reviewers, A-ci

#525 Fix out of gas
  packages/batch-submitter/src/transaction-chain-contract.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#519 Amount On Transaction Details along with token
  packages/omgx/wallet-frontend/src/actions/networkAction.js
  packages/omgx/wallet-frontend/src/components/listAccount/listAccount.js
  packages/omgx/wallet-frontend/src/components/transaction/Transaction.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/account/PendingTransaction.js
  packages/omgx/wallet-frontend/src/containers/help/Help.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/wrongnetwork/WrongNetworkModal.js
  packages/omgx/wallet-frontend/src/containers/transactions/Deposits.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/containers/transactions/Transactions.js
  packages/omgx/wallet-frontend/src/pages/history/index.js
  packages/omgx/wallet-frontend/src/reducers/uiReducer.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#527 Date Picker Fix
  packages/omgx/wallet-frontend/src/containers/transactions/Deposits.js
  packages/omgx/wallet-frontend/src/containers/transactions/Exits.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/index.scss
Labels: A-ts-packages

#536 Fix subgraph and clarify the variable names
  packages/omgx/subgraph/L1/config/mainnet.json
  packages/omgx/subgraph/L1/package.json
  packages/omgx/subgraph/L1/schema.graphql
  packages/omgx/subgraph/L1/src/L1LiquidityPoolMapping.ts
  packages/omgx/subgraph/L1/src/OVM_L1StandardBridgeMapping.ts
  packages/omgx/subgraph/L1/subgraph.template.yaml
  packages/omgx/subgraph/L1/subgraph.yaml
  packages/omgx/subgraph/L2/config/mainnet.json
  packages/omgx/subgraph/L2/schema.graphql
  packages/omgx/subgraph/L2/src/L2LiquidityPoolMapping.ts
  packages/omgx/subgraph/L2/src/OVM_L2StandardBridgeMapping.ts
  packages/omgx/subgraph/L2/subgraph.template.yaml
  packages/omgx/subgraph/L2/subgraph.yaml
Labels: A-ts-packages

#532 changing omgx.network to boba.network urls
  ops/docker-compose-verifier-service.yml
Labels: 2-reviewers, M-ops

#540 add frax and fxs to deploy list
  packages/omgx/contracts/preSupportedTokens.json
Labels: A-ts-packages

#528 Support uploading a new state-dump.latest.json file to DTL.
  packages/data-transport-layer/src/services/main/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl
