Repository omgnetwork/optimism, pull requests merged in 2021-10, with the labels that each got.

#531 Improve user feedback
  packages/omgx/wallet-frontend/src/actions/createAction.js
  packages/omgx/wallet-frontend/src/actions/networkAction.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/modals/addtoken/AddTokenModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/DelegateDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/NewProposalModal.js
  packages/omgx/wallet-frontend/src/containers/modals/dao/TransferDaoModal.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStep.js
  packages/omgx/wallet-frontend/src/containers/modals/deposit/steps/InputStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStep.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmDepositModal.js
  packages/omgx/wallet-frontend/src/containers/modals/farm/FarmWithdrawModal.js
  packages/omgx/wallet-frontend/src/containers/modals/ledger/LedgerConnect.js
  packages/omgx/wallet-frontend/src/containers/modals/ledger/LedgerPrompt.js
  packages/omgx/wallet-frontend/src/containers/modals/transfer/TransferModal.js
  packages/omgx/wallet-frontend/src/services/networkService.js
Labels: A-ts-packages

#550 Add gas system
  packages/message-relayer/package.json
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/omgx/message-relayer-fast/package.json
  packages/omgx/message-relayer-fast/src/exec/run.ts
  packages/omgx/message-relayer-fast/src/service.ts
Labels: 2-reviewers, A-ts-packages

#554 Fix log error in message relayers
  packages/message-relayer/src/service.ts
  packages/omgx/message-relayer-fast/src/service.ts
Labels: 2-reviewers, A-ts-packages

#552 Update Farm.js
  packages/omgx/wallet-frontend/.env.example
  packages/omgx/wallet-frontend/src/actions/createAction.js
  packages/omgx/wallet-frontend/src/components/listFarm/listFarm.js
  packages/omgx/wallet-frontend/src/containers/account/Account.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.js
  packages/omgx/wallet-frontend/src/containers/farm/Farm.styles.js
  packages/omgx/wallet-frontend/src/containers/home/Home.js
  packages/omgx/wallet-frontend/src/containers/transactions/History.js
  packages/omgx/wallet-frontend/src/index.scss
  packages/omgx/wallet-frontend/src/pages/history/index.js
  packages/omgx/wallet-frontend/src/util/constant.js
Labels: A-ts-packages

#559 Light theme fixes.
  packages/omgx/wallet-frontend/src/components/Proposal/Proposal.js
  packages/omgx/wallet-frontend/src/containers/help/Help.js
Labels: A-ts-packages

#560 added width with word break to error message in toaster
  packages/omgx/wallet-frontend/src/components/alert/Alert.js
Labels: A-ts-packages

#564 alignment fixes for the design button
  packages/omgx/wallet-frontend/src/components/input/Input.js
  packages/omgx/wallet-frontend/src/components/input/Input.styles.js
  packages/omgx/wallet-frontend/src/containers/modals/exit/steps/DoExitStepFast.js
Labels: A-ts-packages

#561 Add failedMessage and check gas price
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/message-relayer/src/service.ts
  packages/omgx/contracts/contracts/OVM_L1CrossDomainMessengerFast.sol
  packages/omgx/message-relayer-fast/src/service.ts
Labels: 2-reviewers, A-contracts, M-contracts, M-batch-submitter

#558 Fix message relayers and check gas price
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/message-relayer/src/types.ts
  packages/omgx/contracts/contracts/OVM_L1CrossDomainMessengerFast.sol
  packages/omgx/message-relayer-fast/src/exec/run.ts
  packages/omgx/message-relayer-fast/src/service.ts
  packages/omgx/message-relayer-fast/src/types.ts
Labels: 2-reviewers, A-contracts, M-contracts, M-batch-submitter
